@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary: #64a98c;
  --on-primary: #fff;

  --toast-info: #ddeeff;
  --on-toast-info: #000;
  --toast-error: #d00;
  --on-toast-error: #fff;
  --toast-success: #64a98c;
  --on-toast-success: #fff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0px;
}
